@font-face {
  font-family: "Futura";
  src: local("Futura"),
    url(./fonts/Futura/FuturaPTMedium.otf) format("truetype");
}
body {
  margin: 0;
  font-family: "Futura", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
